@font-face {
  font-family: "Abel";
  src: url("../fonts/Abel-Regular.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

a:visited {
  color: inherit;
}

body {
  font-family: "Abel", "Abel", "Helvetica", "Arial", sans-serif;
  background-color: #000;
  color: #fff;
  max-width: 1170px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 16px;
  padding-right: 16px;
}

.get__button {
  background-color: #000;
  color: #fff;
  padding: 8px 16px;
  border: none;
  border-radius: 50px;
  cursor: pointer;
  text-transform: uppercase;
  width: 220px;
  text-align: center;
  margin-top: 16px;
}
.get__button:hover {
  background-color: #fff;
  color: #000;
}

.header__nav {
  display: flex;
  justify-content: center;
  align-items: left;
  justify-content: space-between;
  padding: 16px;
  background-color: #000;
  text-transform: uppercase;
}
.header__nav .header__nav-container {
  display: flex;
  align-items: center;
  width: 100%;
}
.header__nav .header__logo {
  color: #fff;
  font-size: 24px;
  text-decoration: none;
  text-transform: uppercase;
  margin-right: 16px;
}
.header__nav .header__menu {
  list-style: none;
  display: flex;
  gap: 16px;
  margin-right: auto;
}
.header__nav .header__menu li a {
  color: #fff;
  text-decoration: none;
  transition: color 0.3s ease;
}
.header__nav .header__menu li a:hover {
  color: #9c27b0;
}
.header__nav .header__menu-right {
  text-align: right;
  list-style: none;
  display: flex;
  gap: 16px;
  margin-right: 20px;
}
.header__nav .header__menu-right li a {
  color: #fff;
  text-decoration: none;
  transition: color 0.3s ease;
}
.header__nav .header__menu-right li a:hover {
  color: #9c27b0;
}
.header__nav .header__social {
  display: flex;
  gap: 10px;
}
.header__nav .header__social .header__social-link svg {
  width: 20px;
  height: 20px;
  fill: .header__nav .header__social .header__social-link svg #fff;
  transition: fill 0.3s ease;
}
.header__hero {
  display: flex;
  justify-content: center;
  align-items: left;
  flex-direction: column;
  text-align: center;
  height: 500px;
  background: url("../images/hero-bg.jpg") no-repeat center center/cover;
}
.header__title {
  color: #fff;
  font-size: 48px;
  line-height: 1.2;
  max-width: 800px;
  margin: 0 auto;
  padding: 0 16px;
  text-transform: uppercase;
}

.section {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.section__block {
  display: flex;
  justify-content: center;
  align-items: left;
  flex-direction: column;
  padding: 16px;
  text-align: left;
  color: #fff;
  height: 350px;
}
.section__block--purple {
  background-color: #9c27b0;
}
.section__block--black {
  background-color: #000;
}
.section__block--green {
  background-color: #4caf50;
}
.section__block--orange {
  background-color: #ff9800;
}
.section__block__content {
  margin-bottom: 16px;
}
.section__block__button {
  background-color: #000;
  color: #fff;
  padding: 8px 16px;
  border: none;
  border-radius: 50px;
  cursor: pointer;
  text-transform: uppercase;
  width: 220px;
  text-align: center;
  margin-top: 16px;
}
.section__title {
  font-size: 24px;
  margin-bottom: 16px !important;
  text-transform: uppercase;
}

.artists {
  position: relative;
  width: 100%;
  overflow: hidden;
  margin: 10px;
}
.artists__title {
  text-align: center;
  margin-bottom: 20px;
}
.artists__gallery {
  display: flex;
  align-items: center;
  white-space: nowrap;
  transition: transform 0.3s ease-out;
}
.artists__item {
  flex: 0 0 auto;
  margin-right: 20px;
}
.artists__image {
  display: block;
  max-width: 100%;
  height: auto;
}

.join {
  text-align: center;
  padding: 16px;
}
.join__title {
  font-size: 24px;
  margin-bottom: 16px;
  text-transform: uppercase;
}
.join__button {
  background-color: #000;
  color: #fff;
  padding: 8px 16px;
  border: none;
  border-radius: 50px;
  cursor: pointer;
  text-transform: uppercase;
  width: 220px;
  text-align: center;
  margin-top: 16px;
  background-color: #ffeb3b;
}
.join__button:hover {
  background-color: #fff;
  color: #000;
}

/*# sourceMappingURL=styles.css.map */
